@import url(card.css);
@import url(memberpage.css);
@import url(video.css);
@import url(Previews.css);
@import url(hw1.css);

body{
    margin: 0;
    font-family: 'Raleway', sans-serif;
    background-color: gray;
    padding-top: 80px;
}

:root {
    --primary-color: #ffffff;
    --secondary-color: #fec300;
    --border-color: #ddd;
}


.navigation {
    width: 100%;
    background-color: #4848488c;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navigationnav {
    display: flex;
    flex-direction: row;
    align-items: center; 
    list-style-type: none;
    padding: 0;
    margin: 0;
}


.linktext{
    width: 100pxl;
}

.banner {
    width: 80px;
    height: auto;
}

h1{
    color: var(--secondary-color);
    font-size: 50px;
}

.navitem {
    margin-right: 30px;
}

.navitem a {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 23px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.head{
    padding-top: 300px;
}
.navitem a:hover {
    color: var(--secondary-color);
}


.article-index{
    display: flex;
    align-items: center;
    flex-direction: column;
    
    z-index: 10;
}

.article-index > * {
    margin: 280px;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background: var(--primary-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}


@media (max-width: 768px) {
    .cards-container {
        flex-direction: column;
        align-items: center;
    }
}